body {
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    margin-bottom: 10px;
    height: 700px;
}

header img, 
header h1 {
position: absolute;
}

header img {
    z-index: 1;
    height: 100%;
    width: 100%;
}

header h1 {
    z-index: 2;
    left: 25%;
    width: 50%;
    margin: 85px auto;
    background-color: rgb(50, 49, 58);
    color: whitesmoke;
    text-align: center;
    padding: 5px;
    font-size: 42px;
    font-family: "Roboto Condensed", sans-serif;

}

nav {
    position: fixed;
    width: 100%;
background-color: cadetblue;
    z-index: 3;
    padding: 20px;
    text-align: center;
    font-family: 'Segoe UI';
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 18;
    color: gainsboro;
}

.purpose {
    margin: 40px auto;
    width: 65%;
}

.purpose h2 {
    text-align: center;
    font-family: "Lora", serif;
    font-size: 30px;
    margin-bottom: 0px;
}

.purpose p {
      font-family: "DM Serif Display", serif;
      margin-top: 10px;
      font-size: 20px;
}

footer {
    background-color: cadetblue;
    padding: 80px;
    text-align: center;
    color: white;
}

.back-to-top {
    background-color: white;
    width: 100px;
    margin: 0px auto;
    padding: 12px;
    font-family: 'Georgia';
}

.back-to-top a {
    color: gray;
    text-decoration: none;
}

footer p {
    font-family:'Times New Roman';
    font-size: small;
    margin-top: 10px;
}

.blog-cards .blog-cards-article article img {
    width: 100%;
    height: 65%;
}

.blog-cards-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40px;
    margin-bottom: 40px;
    padding-right: 15px;
}

.blog-cards-article article {
    flex: 0 0 350px;
    font-family: "Share Tech", sans-serif;
    box-shadow: 4px 4px 20px black;
    height: 525px;
}

.blog-cards h2 {
    text-align: center;
    font-family: "Caveat Brush";
    font-size: 30px;
    margin-bottom: 0px;
}

.blog-cards-article h3,
.blog-cards-article p {
    padding-left: 10px;
    padding-right: 10px;
}
footer .icons i {
    font-size: 22px;
    margin-top: 20px;
}